body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e0f0ff;
}

div.apps-list-top {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

div.apps-list-top > img {
  width: 3em;
  height: 3em;
}

div.apps-list-top > div {
  margin-left: 20px;
  flex: 1;
}

div.apps-list-top > div > header {
  font-weight: bold;
}

div.apps-list-top > div > div {
  display: flex;
  margin-top: 4px;
  flex-direction: row;
  font-size: smaller;
}

div.apps-list-top > div > div > label {
  width: 6em;
  margin: 0;
}